
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.red-color {
    color: crimson;
}
#navbar {
    position: sticky;
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: black;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a {
   text-decoration: none;
   padding: 0.75rem;
   margin: 0 0.25rem;
   color: #fff;
   
   
}
#navbar ul li a:hover {
      color: crimson;
}
#navbar h1 {
    padding: 0 7rem;
    font-size: 1.3rem;

}

/* showcase */

#showcase {
    background: url(../img/286435610_1135276793721899_5136975947691317229_n.jpg) no-repeat center center/cover;
    height: 100vh;
    font-weight: bold;
    font-size: 1.5rem;
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    align-items: start;
    height: 100%;
    padding: 9rem 12rem;
    background: rgba(0, 0, 0, 0.7);
    
    
}

#showcase  .showcase-content .btn {
    text-decoration: none;
    border: crimson 1px solid;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    color: crimson;
    font-weight: bold;
    transition: all 1s ease-in-out;

}
#showcase .showcase-content .btn:hover {
     opacity: 0.4;
}
#showcase h1 , a {
    transform: translateX(-900px);
    animation: heading 2s forwards ease-in;
}
@keyframes heading {
    to {
        transform: translateX(0px);
    }
}
